extends layout

block content
  .container.bordered
    .row
      .col-12.topbanner
        h1 API Test server for Developers
    .row
      .col-12.margin-top-30
        h3 How it works
        p This site give you a possibility to use the Mock API server for a testing of your web applications.
        p.lead It is free and a CORS policy setted to "all" request so, you can use the <mark>fetch()</mark> command as you wish.
        p Our service has a set of the most popular cases for API like <mark>users</mark>, <mark>addresses</mark>, <mark>payments</mark> etc. The part of routes has a logic relations to next API routes an could be used for a checking of an API calls chaining.
    .row
      .col-12.margin-top-30
        h3 A list of API routes
    .row.min-height-425
      .col-12.margin-top-30
        ul.nav.nav-tabs(id="mainTab", role="tablist")
          li.nav-item(role="presentation")
            a.nav-link.active(
              id="user-model", data-bs-toggle="tab", href="#", role="tab",
              data-bs-target="#user-model-pane",  aria-controls="user-model-pane",
              aria-selected="true"
            ) The User model
          li.nav-item(role="presentation")
            a.nav-link(
              id="wrong-model", data-bs-toggle="tab", href="#", role="tab",
              data-bs-target="#wrong-model-pane",  aria-controls="wrong-model-pane",
              aria-selected="false"
            ) The Wrong model
          li.nav-item(role="presentation")
            a.nav-link(
              id="addresses-model", data-bs-toggle="tab", href="#", role="tab",
              data-bs-target="#addresses-model-pane",  aria-controls="addresses-model-pane",
              aria-selected="false"
            ) The Addresses model
          li.nav-item(role="presentation")
            a.nav-link(
              id="payments-model", data-bs-toggle="tab", href="#", role="tab",
              data-bs-target="#payments-model-pane",  aria-controls="payments-model-pane",
              aria-selected="false"
            ) The Payments model
        .tab-content(id="mainTabContent")
          .tab-pane.fade.show.active(
            id="user-model-pane", role="tabpanel", aria-labelledby="user-model", tabindex="0"
          )
            include user.pug
          .tab-pane.fade(
            id="wrong-model-pane", role="tabpanel", aria-labelledby="wrong-model", tabindex="0"
          )
            include wrong.pug
          .tab-pane.fade(
            id="addresses-model-pane", role="tabpanel", aria-labelledby="addresses-model", tabindex="0"
          )
            include addresses.pug
          .tab-pane.fade(
            id="payments-model-pane", role="tabpanel", aria-labelledby="payments-model", tabindex="0"
          )
            include payments.pug

    .row 
